# Entorno Virtual
venv/
env/
.venv/

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Variables de Entorno (Claves de API)
.env

# Archivos de Sistema
.DS_Store
Thumbs.db

# Reportes generados localmente
*.html
!src/templates/*.html